*{
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
 }

body{
  margin: auto 10px;
    width: auto;
  height:550px;
  text-align: center;
  align-items: center;
  }

h1{
 padding-top: 140px;
 margin-bottom: 10px;
 
}

.hdiv{
 padding-top: 1px;

}

button
{
  padding:5px;
}
