<!DOCTYPE html>
<html lang="en">
<head>
    <title>Students Page</title>
</head>
<body>
    <app-nav></app-nav>
    <hr>
    <h1>Fill the Student details in form</h1>
<hr>
<br>
<div class="form">
<form action=""  (ngSubmit)="addStudent(myForm)" #myForm="ngForm" >

    <label for=""><b> Name:</b>
    </label> 
    <input type="text" class="name" [(ngModel)]="studname" name="studname" required>
    <br>
   
    <div>
    <label for=""><b>Gender:</b></label>
   
    <input type="radio" name="gender" [(ngModel)]="studgender" value="Male" required>
    <label for="">Male</label>

    <input type="radio" name="gender" [(ngModel)]="studgender" value="Female">
    <label for="">Female</label>

    <input type="radio" name="gender" [(ngModel)]="studgender" value="Trans">
    <label for="">Trans</label>
    </div>
    <label for=""><b>Department :</b></label>
   
    <select class="drop" name="dept" [(ngModel)]="studDept"  required>
        <option value="" name="dept" disabled selected>DEPT</option>
        <option  name="dept" value="IT"  >IT</option>
        <option  name="dept" value="CSE" >CSE</option>
        <option  name="dept" value="ECE" >ECE</option>
        <option  name="dept" value="MECH">MECH</option>
      </select>
      <br>
      <label for=""><b>Description:</b></label>
      <br>  
      <textarea [(ngModel)]="studDesc"  class="desc" name="studDesc" rows="10" cols="30" required>
      </textarea>
        <br>
       <label for=""><b>Agree to License :</b></label> <input type="checkbox" name="studAgg" [(ngModel)]="studAgg" id="" required>
        <p *ngIf="incomp">**Please Enter all Feilds**</p>
        <br>
        <div class="btns">
    <button type="submit" style="margin-left: 30px; margin-right:40px; padding:auto auto ;">Submit</button>
    <button type="clear"   (onclickS)="this.reset();">Clear</button>
</div>
</form>
</div>
<hr>
<h1>Students Table </h1>
<hr>
<br>

<table style="text-align:center;">
    <tr>
        
    </tr>
    <tr >
        <th>S.No</th>
        <th>Roll</th>
        <th>Name</th>
        <th>Gender</th>
        <th>dept</th>
        <th>Description</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>


    <tr *ngFor="let student of studata;let i = index " >
        
        <td>{{i+1}}</td>
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.gender}}</td>
        <td>{{student.dept}}</td>
        <td>{{student.desc}}</td>
        <td><img class="update-icn" src="assets/update.png" (click)="updateStudent(i+1,student.name,student.gender,student.dept,student.desc)"></td>
        <td ><img  class="delete-icn" src="assets/delete.png" (click)="deleteStudent(student.id)" ></td>
</table>

<div class="searchitems"> 
    <p>Enter Roll no to search student :</p>
    <br>    
    <input  class="searchbox" type="text" name="search" [(ngModel)]="searchid" (keyup.enter)="searchStudent(searchid) "  placeholder="Search..">
    <button (keyup.enter)="searchStudent(searchid) " (click)="searchStudent(searchid) ">Search</button>
    <button (click)="clearSearch()" >Clear</button>
</div>
 <div *ngIf="searchToggle">
     <table>
         <tr>
             <td>Name:</td>
             <td>{{searchName}}</td>
         </tr>
         <tr>
            <td>Gender:</td>
            <td>{{searchGen}}</td>
        </tr><tr>
            <td>Department:</td>
            <td>{{searchDept}}</td>
        </tr><tr>
            <td>Description:</td>
            <td>{{searchDesc}}</td>
        </tr>
     </table>
       
</div>
</body>
</html>