<h1>Fill the students details form</h1>
<hr>
<br>

<form action=""  onsubmit=" this.reset();">
    <label for=""><b> Name:</b>
    </label> 
    <input type="text" [(ngModel)]="studname" name="studname">
    <br>
   
    <div>
    <label for="">Gender:</label>
   
    <input type="radio" name="gender" [(ngModel)]="studgender" value="Male">
    <label for="">Male</label>

    <input type="radio" name="gender" [(ngModel)]="studgender" value="Female">
    <label for="">Female</label>

    <input type="radio" name="gender" [(ngModel)]="studgender" value="Trans">
    <label for="">Trans</label>


    </div>
    <button type="submit" (keyup.enter)="addStudent()" (click)="addStudent()">Add Student</button>
    
    <button type="clear" onsubmit="this.reset();">clear</button>
</form>

<table >
    <tr >
        <th>S.No</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Delete</th>
    </tr>


    <tr *ngFor="let student of studata">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.gender}}</td>
        <td><button (click)="deleteStudent(student.id)"> Delete student </button></td>
    <tr>
        <td>
            rand id
        </td>
        <td >
            sasi
        </td>
        <td>
            Male
        </td>
    </tr>

</table>