<h1>Fill the students details form</h1>
<hr>
<br>

<form action=""  onsubmit=" this.reset();">
    <label for=""><b> Name:</b>
    </label> 
    <input type="text" [(ngModel)]="studname" name="studname">
    <br>
   
    <div>
    <label for="">Gender:</label>
   
    <input type="radio" name="gender" [(ngModel)]="studgender" value="Male">
    <label for="">Male</label>

    <input type="radio" name="gender" [(ngModel)]="studgender" value="Female">
    <label for="">Female</label>

    <input type="radio" name="gender" [(ngModel)]="studgender" value="Trans">
    <label for="">Trans</label>
    </div>
    <label for="">Department :</label>
   
    <select  name="dept" [(ngModel)]="studDept" >
        <option value="" name="dept"disabled selected>DEPT</option>
        <option  name="dept" value="IT"  >IT</option>
        <option  name="dept" value="CSE" >CSE</option>
        <option  name="dept" value="ECE" >ECE</option>
        <option  name="dept" value="MECH">MECH</option>
      </select>
      <br>
      <textarea [(ngModel)]="studDesc" name="studDesc" rows="10" cols="30">
      </textarea>
        <br>
       <label for="">Agree to License :</label> <input type="checkbox" name="" id="" >
        <br>
    <button type="submit" (keyup.enter)="addStudent()" (click)="addStudent()">Add Student</button>
    
    <button type="clear" onsubmit="this.reset();">clear</button>
</form>

<table >
    <tr >
        <th>S.No</th>
        <th>Name</th>
        <th>Gender</th>
        <th>dept</th>
        <th>Description</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>


    <tr *ngFor="let student of studata">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.gender}}</td>
        <td>{{student.dept}}</td>
        <td>{{student.desc}}</td>
        <td><button (click)="updateStudent(student.id,student.name,student.gender,student.dept,student.desc)">Update</button></td>
        <td><button (click)="deleteStudent(student.id)"> Delete student </button></td>

</table>