table, th, td {
    border: 1px solid black;
   
  }

  th, td {
    padding: 15px;
  }

  table{
    margin-left:auto; 
    margin-right:auto;
  }


  div.form
  {
      display: block;
      text-align: center;
  }
  form
  {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      padding-bottom: 15px;
      

    }
 .name{
   width: 78%;
 }
 .drop{
   width: 63%;
 }
  
  h1{
    margin-left:auto; 
    margin-right: auto;
    text-align: center;

  }

  