  
  body{ 
    color:black;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
    
  .name{
    width: 78%;
  }
  .drop{
    width: 60%;
  }
  .desc{
    width: 97%;
  }
  
   
   h1{
     margin-left:auto; 
     margin-right: auto;
     text-align: center;
   }
  div.form
  {
      display: block;
      text-align: center;
  }
  form
  {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      padding-bottom: 15px;
      
    }
    p{
      text-align: center;
      padding-bottom: 0% !important;
      margin-bottom: 0%;
    }

    .btns{
      padding-top:1px;
      margin-top: 0%;
    }

    table, th, td {
      border: 1px solid black;
     
    }
  
    th, td {
      padding: 13px;
    }
  
    table{
      margin-left:auto; 
      margin-right:auto;
    }

  img{
    margin: 0px;
    padding:0px !important;
  
    cursor: pointer;
  }

  .update-icn{  
    height: 25px !important;
    width: 30px;
  }

  .delete-icn{
    height: 30px !important;
    width: 30px;

  }

  .searchbox{
    margin-left: 39%;
    margin-bottom: 1%;
  }

  .searchitems{
    padding-right:20px ;
  }

 

